extends ../layout

block content
  h1.title.header-styling Search Results
    .container.bookshelf-margin
      .row.books
        .col-md-12
          for book in books
            a.bookshelf(href="/books/"+book.id)
              img.img-responsive.book(src=book.image_url)
        .col-xs-12.shelf
  if page > 1
  a.btn.btn-info.pull-right(href="/search-books?page="+(page+1)) Next
  a.btn.btn-info.pull-left(href="/search-books?page="+(page-1)) Prev
  
  //- for book in books
  //-   h3=book.title
  //-   .row.jumbotron
  //-     .col-md-4
  //-       img.media-object.thumbnail(src= book.image_url, alt='...')
  //-     .col-md-8
  //-       p= book.description
