extends ../layout

block content
  .container.content-styling
    .media
      .media-left.media-top
        a(href='#')
          img.media-object.thumbnail(src=book.image_url, alt='...')
      .media-body.well
        h4.media-heading Middle aligned media
        p= book.description
        h4 Authors
        ol
          for author in book.authors
            li= author.name

        h4 Genres
        ol
          for genre in book.genres
            li= genre.name
        a.btn.btn-success.space-right(href="/books/"+book.id+"/edit") Edit
        a.btn.btn-danger(href="/books/"+book.id+"/delete") Delete
