extends ../layout

block content
  h1 Welcome to Your Library
  for book in books
    












    
    //- .row.jumbotron
    //-   h2.text-center
    //-     a(href="/books/"+book.id)= book.title
    //-   .col-md-2
    //-     img.media-object.thumbnail(src= book.image_url, alt='...')
    //-     for author in book.authors
    //-       div By:
    //-         a(href="/authors/"+author.id)=author.name
    //-     div Genres:
    //-       for genre in book.genres
    //-         a(href="/genres/"+genre.id)=genre.name
    //-         br 
    //-   .col-md-10
    //-     blockquote=book.description


